@model IEnumerable<MumbaiMallLibrary.ServiceProvider>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Movies</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Dashboard</a></li>
            <li class="breadcrumb-item active">Movies</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>

            </div>
            <div class="card-body">
                <p>
                    @Html.ActionLink("Create New", "Create", null, new { target = "provider_show", @class = "action-show" })
                </p>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Floor</th>
                                <th>Tel</th>
                                <th>Open Hour</th>
                                <th></th>
                            </tr>

                        </thead>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Floor</th>
                                <th>Tel</th>
                                <th>Open Hour</th>
                                <th></th>
                            </tr>

                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td style="white-space:nowrap">Floor @item.Floor</td>
                                    <td>@item.Tel</td>
                                    <td>@Enum.GetName(typeof(DayOfWeek), item.FromDay) - @Enum.GetName(typeof(DayOfWeek), item.ToDay) <br /> @item.Opened.Value.ToString(@"hh\:mm") - @item.Closed.Value.ToString(@"hh\:mm")</td>
                                    <td class="d-flex align-text-center flex-nowrap align-items-center">
                                        <a class="p-2 text-darkblue d-flex flex-nowrap align-items-center justify-content-between" href=""><i class="far fa-eye"></i> Show</a> |
                                        <a class="p-2 text-warning d-flex flex-nowrap align-items-center justify-content-between action-show" href=""><i class="fas fa-pen"></i> Edit</a> |
                                        <a class="p-2 text-danger d-flex flex-nowrap align-items-center justify-content-between" href=""><i class="far fa-trash-alt"></i> Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    $(document).ready(function () {

        //Show sub category
        $('.sub-count').click(function () {
            var parentTr = $(this).closest('tr');
            var parentId = $(this).data('category');
            var subCategory = $('#template tr[data-categ-parent="' + parentId + '"]').removeAttr('style');

            parentTr.after(subCategory);
        });

        //Open and close form
        $('.action-show').click(function () {
            $('.form-frame').removeAttr('style');
        });

        $('.form-frame').click(function () {
            $('.form-frame').attr('style', 'display: none');
            $('iframe').attr('src', 'about:blank');
        })

        //Delete record
        $('.action-delete').click(function () {
            var option = confirm('Are you sure you wish to delete this record?');

            if (!option) return;

            var deleteId = $(this).data('id');
            var url = '@Url.Action("DeleteConfirmed", "ServiceCategories")';

            $.post(url + '/' + deleteId, function (data) {
                location.reload()
            })
        })
    })
</script>

<div class="form-frame" style="display: none">
    <iframe style="display: block; border: none; background-color: white; height: 100vh; width: 1050px; margin: 0 auto;" src="" name="provider_show" title="Iframe Form"></iframe>
</div>